.modal {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;


	padding: 30px 30px 0 30px;
	background-color: #80808070;
	display: flex;
	justify-content: center;
	align-items: flex-end;

	pointer-events: none;
	opacity: 0;

	z-index: 999;
	transform: scale(1.15);
	transition: transform 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946),
		opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

::-webkit-scrollbar {
	/* chrome based */
	width: 0px;
	/* ширина scrollbar'a */
	background: transparent;
	/* опционально */
}

.modal--open {
	pointer-events: auto;
	opacity: 1;

	transform: scale(1);
	transition:
		transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946),
		opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}


.modal-wrapper {
	position: relative;
	background-color: #1E1E1E;
	padding: rem-calc(14 30 0 30);
	max-width: 90vw;
	width: 93%;
	max-height: 91vh;
	border-radius: 20px;
	text-align: center;
	overflow: auto;
	-ms-overflow-style: none;
	/* IE 10+ */
	scrollbar-width: none;
	/* Firefox */
}

.modal {
	&.modal-Alibaba {
		.modal__logo {
			top: -20px;

			svg {
				scale: 0.5;
				min-width: 190px;
				height: 119px;
				fill: #FB6322;
				transition: 1s;
			}
		}

	}

	&.modal-knowledge {
		.modal__logo {
			img {
				width: 120px;
			}
		}
	}

	&.modal-x5 {
		.modal__logo {

			svg {
				scale: 0.9;
				min-width: 280px;
				fill: #F78F1E;
				transition: 1s;
			}
		}
	}

	&.modal-uralsib {
		.modal__logo {

			svg {
				scale: 0.7;
				min-width: 244px;
				fill: #F78F1E;
				transition: 1s;
			}
		}
	}

	&.modal-wo {
		.modal__logo {
			img {
				width: 80px;
			}
		}
	}

	&.modal-pyaterochka {}

	&.modal-likeСenter {
		.modal__logo {
			top: -20px;

			svg {
				scale: 0.5;
				min-width: 164px;
				height: 136px;
				fill: #F78F1E;
				transition: 1s;
			}
		}
	}

	&.modal-thirty-six {

		.modal__logo {
			top: -30px;

			svg {
				min-width: 180px;
				scale: 0.4;
				height: 148px;

				fill: #4374AE;
				transition: 1s;
			}
		}
	}

	&.modal-vanguard {
		.modal__logo {
			scale: 0.25;

			svg {
				min-width: 185px;
				height: 194px;
				fill: #C3322B;
				transition: 1s;
			}
		}
	}

	&.modal-Gravion {
		.modal__logo {
			scale: 0.30;

			svg {
				min-width: 185px;
				height: 194px;
				fill: #4F5F79;
				transition: 1s;
			}
		}
	}

	&.modal-Gorzdrav {
		.modal__logo {
			svg {
				min-width: 185px;
				height: 194px;
				fill: #2CA180;
				transition: 1s;
			}
		}
	}

	&.modal-Beauty-Maker {}

	// .modal__header

	&__header {

		display: flex;
		justify-content: space-between;
		margin-bottom: rem-calc(40);
	}

	// .modal__data

	&__data {
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
	}

	// .modal__items

	&__items {
		display: flex;
		justify-content: flex-end;
		margin-top: rem-calc(8);

	}

	// .modal__logo

	&__logo {
		position: absolute;
		left: 50%;
		top: rem-calc(20);
		transform: translate(-50%, 0px);

		svg {
			width: rem-calc(85);
			height: rem-calc(90);
		}

	}
}

.modal-open {}

.modal-site {

	// .modal-site__link

	&__link {
		display: flex;
		justify-content: flex-start;
		font-family: $fon-U;
		font-style: normal;
		font-weight: 600;
		font-size: 14px;
		line-height: 20px;
		/* identical to box height, or 143% */

		text-decoration-line: underline;

		color: #FFFFFF;
	}
}

.modal-item {
	padding: rem-calc(0 8);

	background: rgba(255, 255, 255, 0.05);
	border-radius: 100px;
	font-family: $fon-M;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 24px;
	/* identical to box height, or 200% */

	letter-spacing: 0.02em;
	text-transform: uppercase;
	font-feature-settings: 'pnum'on, 'lnum'on;

	color: #FFFFFF;
	margin-right: 4px;
}

.modal-month {
	padding: rem-calc(0 8);
	background: rgba(255, 255, 255, 0.05);
	border-radius: 100px;
	font-family: $fon-M;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 24px;
	/* identical to box height, or 200% */
	letter-spacing: 0.02em;
	text-transform: uppercase;
	font-feature-settings: 'pnum'on, 'lnum'on;

	color: #FFFFFF;
	margin-right: 4px;
}


.btn--close-modal {
	position: absolute;
	right: rem-calc(32);
	top: rem-calc(30);
	background-color: transparent;

	img {
		pointer-events: none;
	}
}

.modal-intro {
	display: flex;
	justify-content: space-between;

	// .modal-intro__text

	&__text {
		width: 40%;
		padding-right: rem-calc(40);
		padding-left: rem-calc(50);
		box-sizing: border-box;
	}

	// .modal-intro__title

	&__title {
		text-align: left;
		font-family: $fon-M;
		font-style: normal;
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
		/* identical to box height, or 120% */


		color: #808080;
		padding: rem-calc(56 0 16 0);

		&:first-child {
			padding-top: 0;
		}
	}

	// .modal-intro__list

	&__list {
		list-style-type: inherit;
	}

	// .modal-intro__li

	&__li {
		text-align: left;
		font-family: $fon-M;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 22px;
		list-style-type: disc;
		/* or 157% */

		font-feature-settings: 'pnum'on, 'lnum'on;

		color: #FFFFFF;
	}

	// .modal-intro__img

	&__img {
		margin-right: -30px;
		border-radius: rem-calc(40 0 0 40);

		img {
			border-radius: rem-calc(30 0 0 30);
		}
	}
}

.modal-rezult {

	margin: rem-calc(120 50 0 50);

	// .modal-rezult__title

	&__title {
		margin-bottom: 32px;
		font-family: $fon-M;
		font-style: normal;
		font-weight: 700;
		font-size: 56px;
		line-height: 76px;
		text-align: center;

		color: #FFFFFF;
	}

	// .modal-rezult__img

	&__img {}

	// .modal-rezult__list

	&__list {
		padding-top: rem-calc(48);
	}

	// .modal-rezult__li
	&__li {
		list-style-type: disc;
		padding-bottom: rem-calc(41);
		color: #FFFFFF;

		h2 {
			font-family: $fon-M;
			font-style: normal;
			font-weight: 600;
			font-size: 28px;
			line-height: 36px;
			/* identical to box height, or 129% */


			color: #FFFFFF;
			text-align: left;
		}

		p {
			text-align: left;
			font-family: $fon-M;
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 22px;

			color: #858585;
		}
	}
}

.modal-contact {

	// .modal-contact__link

	&__link a {
		display: flex;
		justify-content: center;
		font-family: $fon-U;
		font-style: normal;
		font-weight: 700;
		font-size: 120px;
		line-height: 100%;
		/* identical to box height, or 120px */

		text-align: center;

		color: #FFFFFF;
		padding: rem-calc(70 0 170 0);
		box-sizing: border-box;
	}
}	.modal.modal--open .modal__logo {
	width: 30%;
	height: 60px;
	top: 10px;
	scale: 1;
	svg {
		scale: 1;
		min-width: 100%;
		height: 100%;
		transition: 1s;
	}
}
@media (min-width: 480px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1100px) {
}
@media (min-width: 1240px) {
}

@media (min-width: 1686px) {
}
@media (min-width: 1786px) {
}
@media (max-width: 1299px) {
	.modal-contact__link a{
		font-size: 70px;
	}
}
@media (max-width: 1199px) {

}
@media (max-width: 991px) {
	.modal-intro{
		flex-direction: column;
	}
	.modal-intro__text{
		width: 100%;
		margin-bottom: 30px;
	}
	.modal-intro__img img{
		border-radius: 60px 0 0 60px;
	}
}
@media (max-width: 767px) {
	.modal-contact__link a{
		font-size: 50px;
		padding-bottom: 80px;
	}
	.modal-intro{
		flex-direction: column;
	}
	.modal-intro__text{
		width: 100%;
		margin-bottom: 30px;
	}
	.modal-intro__img img{
		border-radius: 60px 0 0 60px;
	}
	.modal-rezult{
		margin: rem-calc(90 30 0 30);
	}
	.modal-rezult__title{font-size: 32px;}
	.modal-rezult__li h2{
		font-size: 24px;
	}
	.modal-rezult__li {
padding-bottom: 25px;
	}
	.modal__items{
		display: none;
	}
	.modal.modal--open .modal__logo {

		height: 40px;


	}
	.modal.modal--open{
		padding: 0;
	}
}
@media (max-width: 579px) {
}
@media (max-width: 479px) {
	.modal-intro__text{
		padding: 0;
	}
	.btn--close-modal{
		width: 30px;
		height: 30px;
		right: 20px;
		top: 20px;
	}
	.modal__logo{
		display: none;
	}
	.modal-rezult{
		margin: 30px 0 0 0;
	}
	.modal-contact__link a{
		font-size: 40px;
		padding-bottom: 60px;
		padding-top: 40px;
	}
}
@media (max-width: 379px) {
}
