.works {
    overflow: hidden;

    // .works__inner

    &__inner {
        padding-top: 200px;
        padding-bottom: 100px;

    }

    // .works__items

    &__items {
        position: relative;
        z-index: 6;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: rem-calc(40);
        grid-template-areas:
            ". . ."
            ". . ."
            ". . ."
            ". . .";
    }
}

.works-card {
    // overflow: hidden;
    position: relative;
    // background-color: #1a1a1a;
    // background-color: rgba(2,2,2,0.3);

    border-radius: rem-calc(24);
    max-height: rem-calc(265);
    z-index: 4;
    // transition: 1s;
    outline: 0px solid;

    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: rem-calc(24);
    scale: 1;

    // isolation: isolate;
    // transform: translateZ(0);
    // will-change: transform;
    .works-card__logo {
        position: absolute;
        left: 0;
        top: 0;


        img {
            width: auto;
            height: auto;
        }
    }

    &::after {
        content: "";
        position: absolute;
        width: 1%;
        height: 1;
        left: 50%;
        top: 50%;
        transition: 1s;
        z-index: -1;
        border-radius: 50%;

    }

    .works-card__open {
        opacity: 0;
    }

    &.active {
        &::after {

            animation-delay: 2s;
            z-index: 2;
        }
        .works-card__inner {
            position: relative;
            z-index: 3;
            padding: 13px 24px 24px 24px;
            border-radius: rem-calc(24);
            background-color: #1A1A1A;
        }
    }

    &.works-card--Alibaba {
        .works-card__logo {
            transform: translate(8vw, 66px);
            width: 12vw;
        }

        &:hover {
            &::after {
                outline: 1900px solid #FB6322;
                transition: 1.5s;

            }

            // outline: 1900px solid #FB6322;
            // outline: 1900px solid #FB6322;

            .works-card__logo {
                transform: translate(-55px, -80px);
                scale: 0.45;

                svg {

                    fill: #FB6322;
                    transition: 1s;
                }
            }
        }

        &.active {
            &::after {
                outline: 1900px solid #FB6322;
                animation-delay: 2s;
            }
        }

    }

    &.works-card--knowledge {
        .works-card__logo {
            transform: translate(7vw, 93px);
            width: 14vw;
            transition: 0.8s;
        }

        &:hover {

            &::after {
                outline: 1900px solid #5289EB;
                transition: 1.5s;

            }

            .works-card__logo {
                transform: translate(-97px, -15px);
                scale: 0.4;
                transition: 1.3s;

            }
        }

        &.active {
            &::after {
                outline: 1900px solid #5289EB;
                animation-delay: 2s;

            }
        }
    }

    &.works-card--x5 {
        .works-card__logo {
            transform: translate(4vw, 111px);
            width: 20vw;
            transition: 1.6s;
        }

        &:hover {
            &::after {
                outline: 1900px solid #F78F1E;
                transition: 1.5s;

            }


            .works-card__logo {
                transform: translate(-145px, 30px);
                scale: 0.4;
                // transition: all 1326.41ms ease 0ms;
                transition: scale 1189.28ms ease 0ms, all 1.4s ease;

                svg {

                    fill: #F78F1E;
                    transition: 1s;
                }
            }
        }

        &.active {
            &::after {
                outline: 1900px solid #F78F1E;
                animation-delay: 2s;
            }
        }
    }

    &.works-card--uralsib {
        .works-card__logo {
            transform: translate(6vw, 111px);
            width: 17vw;
        }

        &:hover {

            &::after {
                outline: 1900px solid #1D63FF;
                transition: 1.5s;

            }

            .works-card__logo {
                transform: translate(-85px, 26px);
                scale: 0.47;

                svg {

                    fill: #1D63FF;
                    transition: 1s;
                }
            }
        }

        &.active {
            &::after {
                outline: 1900px solid #1D63FF;
                animation-delay: 2s;
            }
        }
    }

    &.works-card--wo {
        .works-card__logo {
            transform: translate(9vw, 92px);
            width: 11vw;
        }

        &:hover {

            .works-card__logo {
                transform: translate(-64px, -11px);
                scale: 0.39;

                svg {

                    fill: #FA9BCB;
                    transition: 1s;
                }
            }


            &::after {
                outline: 1900px solid #FFB1B1;
                animation-delay: 2s;
            }
        }

        &.active {

            &::after {
                outline: 1900px solid #FFB1B1;
                transition: 1.5s;

            }
        }
    }

    #pyaterochka-1 {
        --pyaterochka--red: #ffffff;
        --pyaterochka--red2: #7B7B7B;
        --pyaterochka--green: #7B7B7B;
        transition: 1s;

    }

    &.works-card--pyaterochka {
        .works-card__logo {
            transform: translate(6vw, 106px);
            width: 17vw;


        }

        &:hover {



            &::after {
                outline: 1900px solid #F78F1E;
                transition: 1.5s;

            }

            .works-card__logo {
                transform: translate(-57px, 16px);
                scale: 0.53;

                #pyaterochka-1 {
                    --pyaterochka--red2: #EB2316;
                    --pyaterochka--red: #EB2316;
                    --pyaterochka--green: #008F32;
                    transition: 1s;

                }

                svg {


                    transition: 1s;
                }
            }
        }

        &.active {
            &::after {
                outline: 1900px solid #F78F1E;
                animation-delay: 2s;
            }
        }
    }

    &.works-card--likeСenter {
        .works-card__logo {
            transform: translate(9vw, 65px);
            width: 11vw;
            transition: 1.8s;

        }

        &:hover {

            &::after {
                outline: 1900px solid #FF2C43;
                transition: 1.5s;

            }

            .works-card__logo {
                transform: translate(-88px, -99px);
                scale: 0.29;
                transition: 1.8s;

                svg {

                    fill: #FF2C43;
                    transition: 1.5s;
                }
            }
        }

        &.active {
            &::after {
                outline: 1900px solid #FF2C43;
                animation-delay: 2s;
            }
        }
    }

    &.works-card--thirty-six {
        .works-card__logo {
            transform: translate(9.2vw, 57px);
            width: 10vw;
            transition: 1.6s;

        }

        &:hover {

            &::after {
                outline: 1900px solid #4374AE;
                transition: 1.5s;

            }

            .works-card__logo {
                transform: translate(-88px, -117px);
                scale: 0.29;
                transition: all 1427.52ms ease 0ms;

                svg {

                    fill: #4374AE;
                    transition: 1s;
                }
            }
        }

        &.active {
            &::after {
                outline: 1900px solid #4374AE;
                animation-delay: 2s;
            }
        }
    }

    &.works-card--vanguard {
        .works-card__logo {
            transform: translate(7.2vw, 26px);
            width: 14vw;
            transition: 1.6s;

        }

        &:hover {

            &::after {
                outline: 1900px solid #E94D05;
                transition: 1.5s;

            }

            .works-card__logo {
                transform: translate(-280px, -320px);
                scale: 0.20;
                transition: scale 1189.28ms ease 0ms, all 1.4s ease;

                svg {

                    fill: #C3322B;
                    transition: 1s;
                }
            }
        }

        &.active {
            &::after {
                outline: 1900px solid #E94D05;
                animation-delay: 2s;
            }
        }
    }

    &.works-card--Gravion {
        .works-card__logo {
            transform: translate(8.2vw, 65px);
            width: 12vw;
        }

        &:hover {

            &::after {
                outline: 1900px solid #4F5F79;
                transition: 1.5s;

            }

            .works-card__logo {
                transform: translate(-96px, -90px);
                scale: 0.30;

                svg {

                    fill: #4F5F79;
                    transition: 1s;
                }
            }
        }

        &.active {
            &::after {
                outline: 1900px solid #4F5F79;
                animation-delay: 2s;
            }
        }
    }

    &.works-card--Gorzdrav {
        .works-card__logo {
            transform: translate(9.2vw, 65px);
            width: 10vw;

            svg {

                fill: transparent;
                transition: 1s;
            }

        }

        &:hover {

            &::after {
                outline: 1900px solid #E94D05;
                transition: 1.5s;

            }

            .works-card__logo {
                transform: translate(-100px, -94px);
                scale: 0.30;

                svg {

                    fill: #2CA180;
                    transition: 1s;
                }
            }
        }

        &.active {

            &::after {
                outline: 1900px solid #E94D05;
                animation-delay: 2s;
            }
        }
    }

    &.works-card--Beauty-Maker {
        .works-card__logo {
            transform: translate(4.2vw, 106px);
            width: 20vw;
        }

        &:hover {

            &::after {
                outline: 1900px solid #E26285;

                transition: 1.5s;

            }

            .works-card__logo {
                transform: translate(-93px, 26px);
                scale: 0.49;

                svg {

                    fill: #E26285;
                    transition: 1s;
                }
            }
        }

        &.active {
            &::after {
                outline: 1900px solid #E26285;
                animation-delay: 2s;
            }
        }
    }

    // &:not(:hover){
    //     opacity: 0.4;
    // }
    &:hover {

        z-index: 2;
        transition: z-index 0.1s, 1.5s;
        scale: 1.1;
        isolation: isolate;
        transform: translateZ(0);
        border-radius: rem-calc(24);
        // mix-blend-mode: plus-lighter;

        background-color: #1A1A1A;
        will-change: transform;

        .works-card__inner {
            padding: 13px 24px 24px 24px;
            border-radius: rem-calc(24);
            background-color: #1A1A1A;
        }

        .works-card__open {
            opacity: 1;
        }


        & .works-card__logo {
            //   position: absolute;
            //   left: rem-calc(10);
            //   top: 10px;
            // scale: 0.4;
            transition: 1s;
            width: fit-content;
            // max-width: 100px;


        }

        .works-card__header {
            height: auto;
            display: flex;
            justify-content: flex-end;
            height: 40px;
        }

        & .works-card__items {

            transform: translateY(10px);
            visibility: visible;
            transition: 1s;
        }

        & .works-card__text {
            transform: translateY(0px);
            visibility: visible;
            // transition: 1s;
        }

        &::before {
            content: "";
            width: 100%;
            height: 30px;
            position: absolute;
            left: 0;
            bottom: 0;
            background-image: linear-gradient(180deg, rgba(25, 25, 25, 0.7) 0%, #191919 100%);
            z-index: 1;
            border-radius: rem-calc(24);
        }

        & .works-card__open {
            transform: translate(-50%, -50%);
            transition: 0.5s;
        }
    }

    // .works-card__open
    &__open {
        position: absolute;
        left: 50%;
        bottom: 10px;
        transform: translate(-50%, 150%);
        transition: 0.5s;
        z-index: 5;

    }

    // .works-card__inner

    &__inner {
        overflow: hidden;
        height: 100%;
        pointer-events: none;
        padding: rem-calc(40);
        height: 100%;
        box-sizing: border-box;
        border-radius: rem-calc(24);
    }

    // .works-card__header

    &__header {
        height: 100%;
        margin-bottom: rem-calc(8);

    }

    // .works-card__img

    &__img {
        // height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
        }
    }

    // .works-card__logo

    &__logo {
        scale: 1;
        transition: 1s;
        max-width: 100%;

        svg {
            fill: #ffffff;
            transition: 1s;
        }

    }

    // .works-card__items

    &__items {
        display: flex;
        justify-content: flex-end;
        visibility: hidden;
        transform: translateY(-40px);
        max-width: 190px;
        flex-wrap: wrap;


    }

    // .works-card__text

    &__text {
        visibility: hidden;

        font-family: $fon-M;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        /* or 150% */

        font-feature-settings: 'pnum'on, 'lnum'on;

        color: #E5DCD7;
        transform: translateY(100px);
        transition: 1s;


    }

    p {
        opacity: 0.6;
        margin-bottom: rem-calc(16);
    }

    // .works-card__subtitle

    &__subtitle {
        font-family: $fon-M;
        font-style: normal;
        font-weight: 800;
        font-size: 14px;
        line-height: 150%;
        /* identical to box height, or 21px */

        font-feature-settings: 'pnum'on, 'lnum'on;

        color: #E5DCD7;
        margin-bottom: rem-calc(8);

    }
}

.works-card-item {
    height: 25px;
    padding: 0 10px;

    background: rgba(255, 255, 255, 0.05);
    border-radius: 100px;
    font-family: $fon-M;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    /* identical to box height, or 200% */

    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-feature-settings: 'pnum'on, 'lnum'on;

    color: #FFFFFF;
    margin-right: 4px;
    margin-bottom: 5px;
}

.works-card-data {
    height: 25px;
    padding: 0 10px;

    background: rgba(255, 255, 255, 0.05);
    border-radius: 100px;
    font-family: $fon-M;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    /* identical to box height, or 200% */

    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-feature-settings: 'pnum'on, 'lnum'on;
    white-space: nowrap;
    color: #FFFFFF;
    margin-right: 4px;
}

.works-card-test {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 44;
}

@media (min-width: 480px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1100px) {}

@media (min-width: 1240px) {}

@media (min-width: 1686px) {}

@media (min-width: 1786px) {}

@media (max-width: 1399px) {
    .works-card__items {
        flex-wrap: wrap;
        min-width: 210px;
    }

    .works-card-item {
        margin-bottom: 5px;
    }
}

@media (max-width: 1199px) {
    .works__items {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: rem-calc(40);
        grid-template-areas:
            ". . "
            ". ."
            ". . "
            ". . ";
    }

    .works__inner {
        padding-top: 120px;
        padding-bottom: 60px;
    }

    .works-card__items {
        min-width: 150px;
    }

    .works-card:hover .works-card__inner {
        padding: 14px;
    }

    .works-card-item {
        padding: 0 5px;
        font-size: 9px;
    }

    .works-card-data {
        padding: 0 5px;
        font-size: 9px;

    }

    .works-card {


        &.works-card--Alibaba {
            .works-card__logo {
                transform: translate(15vw, 66px);
                width: 12vw;
            }



        }

        &.works-card--knowledge {
            .works-card__logo {
                transform: translate(14vw, 93px);
                width: 14vw;
            }

            &:hover {


                .works-card__logo {
                    transform: translate(-32px, -15px);



                }
            }



        }

        &.works-card--x5 {
            .works-card__logo {
                transform: translate(12vw, 111px);
                width: 20vw;
            }

            &:hover {


                .works-card__logo {
                    transform: translate(-126px, 33px);



                }
            }



        }

        &.works-card--uralsib {
            .works-card__logo {
                transform: translate(13vw, 111px);
                width: 17vw;
            }

            &:hover {


                .works-card__logo {
                    transform: translate(-71px, 33px);



                }
            }



        }

        &.works-card--wo {
            .works-card__logo {
                transform: translate(15vw, 92px);
                width: 11vw;
            }


            &:hover {


                .works-card__logo {
                    transform: translate(-52px, -28px);



                }
            }




        }


        &.works-card--pyaterochka {
            .works-card__logo {
                transform: translate(13vw, 106px);
                width: 17vw;


            }

            &:hover {


                .works-card__logo {
                    transform: translate(-47px, 9px);



                }
            }


        }

        &.works-card--likeСenter {
            .works-card__logo {
                transform: translate(15vw, 65px);
                width: 11vw;
            }


            &:hover {


                .works-card__logo {

                    transform: translate(-82px, -109px);




                }
            }


        }

        &.works-card--thirty-six {
            .works-card__logo {
                transform: translate(15.2vw, 57px);
                width: 10vw;
            }

            &:hover {


                .works-card__logo {

                    transform: translate(-82px, -109px);




                }
            }


        }

        &.works-card--vanguard {
            .works-card__logo {
                transform: translate(14.2vw, 26px);
                width: 14vw;

            }


            &:hover {


                .works-card__logo {

                    transform: translate(-94px, -180px);

                    scale: 0.35;


                }
            }


        }

        &.works-card--Gravion {
            .works-card__logo {
                transform: translate(15.2vw, 65px);
                width: 12vw;
            }

            &:hover {


                .works-card__logo {

                    transform: translate(-66px, -81px);
                    scale: 0.4;
                }
            }

            &.active {
                outline: 1900px solid #4F5F79;
            }
        }

        &.works-card--Gorzdrav {
            .works-card__logo {
                transform: translate(16.2vw, 65px);
                width: 10vw;

                svg {

                    fill: transparent;
                    transition: 1s;
                }

            }

            &:hover {


                .works-card__logo {

                    transform: translate(-66px, -81px);
                    scale: 0.4;
                }
            }




        }

        &.works-card--Beauty-Maker {
            .works-card__logo {
                transform: translate(12.2vw, 106px);
                width: 20vw;
            }

            &:hover {


                .works-card__logo {

                    transform: translate(-57px, 15px);
                    scale: 0.5;
                }
            }


        }
    }
}

@media (max-width: 991px) {
    .works-card__items {
        min-width: 150px;
    }


}

@media (max-width: 767px) {
    .works__items {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: rem-calc(40);
        grid-template-areas:
            ". "
            ". "
            ". "
            ". ";
    }

    .works__inner {
        padding-top: 70px;
        padding-bottom: 40px;
    }

    .works-card:hover {
        scale: 1;
    }

    .works-card {


        &.works-card--Alibaba {
            .works-card__logo {
                transform: translate(36vw, 66px);
                width: 22vw;
            }





        }

        &.works-card--knowledge {
            .works-card__logo {
                transform: translate(35vw, 93px);
                width: 24vw;
            }

            &:hover {

                .works-card__logo {
                    transform: translate(-28px, -15px);


                }
            }

            &.active {
                outline: 1900px solid #5289EB;
            }
        }

        &.works-card--x5 {
            .works-card__logo {
                transform: translate(33vw, 111px);
                width: 30vw;
            }



            &.active {
                outline: 1900px solid #F78F1E;
            }
        }

        &.works-card--uralsib {
            .works-card__logo {
                transform: translate(34vw, 111px);
                width: 27vw;
            }



            &.active {
                outline: 1900px solid #FBD81C;
            }
        }

        &.works-card--wo {
            .works-card__logo {
                transform: translate(35vw, 92px);
                width: 21vw;
            }





            &.active {
                outline: 1900px solid #FFB1B1;
            }
        }


        &.works-card--pyaterochka {
            .works-card__logo {
                transform: translate(33vw, 106px);
                width: 27vw;


            }


            &.active {
                outline: 1900px solid #F78F1E;
            }
        }

        &.works-card--likeСenter {
            .works-card__logo {
                transform: translate(35vw, 65px);
                width: 21vw;
            }



            &.active {
                outline: 1900px solid #F78F1E;
            }
        }

        &.works-card--thirty-six {
            .works-card__logo {
                transform: translate(35.2vw, 57px);
                width: 20vw;
            }



            &.active {
                outline: 1900px solid #4374AE;
            }
        }

        &.works-card--vanguard {
            .works-card__logo {
                transform: translate(34.2vw, 26px);
                width: 24vw;

            }



            &.active {
                outline: 1900px solid #E94D05;
            }
        }

        &.works-card--Gravion {
            .works-card__logo {
                transform: translate(35.2vw, 65px);
                width: 22vw;
            }



            &.active {
                outline: 1900px solid #4F5F79;
            }
        }

        &.works-card--Gorzdrav {
            .works-card__logo {
                transform: translate(36.2vw, 65px);
                width: 20vw;

                svg {

                    fill: transparent;
                    transition: 1s;
                }

            }



            &.active {
                outline: 1900px solid #E94D05;
            }
        }

        &.works-card--Beauty-Maker {
            .works-card__logo {
                transform: translate(32.2vw, 106px);
                width: 30vw;
            }


            &.active {
                outline: 1900px solid #E26285;
            }
        }
    }
}

@media (max-width: 579px) {}

@media (max-width: 479px) {
    .works-card {


        &.works-card--Alibaba {
            .works-card__logo {
                transform: translate(26vw, 66px);
                width: 36vw;
            }




        }

        &.works-card--knowledge {
            .works-card__logo {
                transform: translate(35vw, 93px);
                width: 24vw;
            }



            &.active {
                outline: 1900px solid #5289EB;
            }
        }

        &.works-card--x5 {
            .works-card__logo {
                transform: translate(20vw, 111px);
                width: 50vw;
            }



            &.active {
                outline: 1900px solid #F78F1E;
            }
        }

        &.works-card--uralsib {
            .works-card__logo {
                transform: translate(24vw, 111px);
                width: 47vw;
            }



            &.active {
                outline: 1900px solid #FBD81C;
            }
        }

        &.works-card--wo {
            .works-card__logo {
                transform: translate(25vw, 92px);
                width: 41vw;
            }





            &.active {
                outline: 1900px solid #FFB1B1;
            }
        }


        &.works-card--pyaterochka {
            .works-card__logo {
                transform: translate(23vw, 106px);
                width: 47vw;


            }


            &.active {
                outline: 1900px solid #F78F1E;
            }
        }

        &.works-card--likeСenter {
            .works-card__logo {
                transform: translate(25vw, 65px);
                width: 41vw;
            }



            &.active {
                outline: 1900px solid #F78F1E;
            }
        }

        &.works-card--thirty-six {
            .works-card__logo {
                transform: translate(25.2vw, 57px);
                width: 40vw;
            }



            &.active {
                outline: 1900px solid #4374AE;
            }
        }

        &.works-card--vanguard {
            .works-card__logo {
                transform: translate(24.2vw, 26px);
                width: 44vw;

            }



            &.active {
                outline: 1900px solid #E94D05;
            }
        }

        &.works-card--Gravion {
            .works-card__logo {
                transform: translate(25.2vw, 65px);
                width: 42vw;
            }



            &.active {
                outline: 1900px solid #4F5F79;
            }
        }

        &.works-card--Gorzdrav {
            .works-card__logo {
                transform: translate(26.2vw, 65px);
                width: 40vw;

                svg {

                    fill: transparent;
                    transition: 1s;
                }

            }



            &.active {
                outline: 1900px solid #E94D05;
            }
        }

        &.works-card--Beauty-Maker {
            .works-card__logo {
                transform: translate(27.2vw, 106px);
                width: 40vw;
            }


            &.active {
                outline: 1900px solid #E26285;
            }
        }
    }
}

@media (max-width: 379px) {}