$fon-U: 'Urbanist', sans-serif;
$fon-M: 'Manrope', sans-serif;
@font-face {
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/Urbanist-Light.ttf');
}

@font-face {
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Urbanist-Regular.ttf') format('truetype'),
}
@font-face {
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/Urbanist-Medium.ttf') format('truetype'),
}
@font-face {
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/Urbanist-ExtraBold.ttf') format('truetype'),
}
@font-face {
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/Urbanist-Bold.ttf') format('truetype'),
}
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Manrope/Manrope-Regular.ttf') format('truetype'),
}
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/Manrope/Manrope-Medium.ttf') format('truetype'),
}
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/Manrope/Manrope-ExtraBold.ttf') format('truetype'),
}

// /* montserrat-alternates-500 - latin_cyrillic */
// @font-face {
//     font-family: 'Urbanist';
//     font-style: normal;
//     font-weight: 500;
//     src: url('../fonts/montserrat-alternates-v12-latin_cyrillic-500.eot');
//     /* IE9 Compat Modes */
//     src: local(''),
//         url('../fonts/montserrat-alternates-v12-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'),
//         /* IE6-IE8 */
//         url('../fonts/montserrat-alternates-v12-latin_cyrillic-500.woff2') format('woff2'),
//         /* Super Modern Browsers */
//         url('../fonts/montserrat-alternates-v12-latin_cyrillic-500.woff') format('woff'),
//         /* Modern Browsers */
//         url('../fonts/montserrat-alternates-v12-latin_cyrillic-500.ttf') format('truetype'),
//         /* Safari, Android, iOS */
//         url('../fonts/montserrat-alternates-v12-latin_cyrillic-500.svg#MontserratAlternates') format('svg');
//     /* Legacy iOS */
// }

// /* montserrat-alternates-700 - latin_cyrillic */
// @font-face {
//     font-family: 'Urbanist';
//     font-style: normal;
//     font-weight: 700;
//     src: url('../fonts/montserrat-alternates-v12-latin_cyrillic-700.eot');
//     /* IE9 Compat Modes */
//     src: local(''),
//         url('../fonts/montserrat-alternates-v12-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'),
//         /* IE6-IE8 */
//         url('../fonts/montserrat-alternates-v12-latin_cyrillic-700.woff2') format('woff2'),
//         /* Super Modern Browsers */
//         url('../fonts/montserrat-alternates-v12-latin_cyrillic-700.woff') format('woff'),
//         /* Modern Browsers */
//         url('../fonts/montserrat-alternates-v12-latin_cyrillic-700.ttf') format('truetype'),
//         /* Safari, Android, iOS */
//         url('../fonts/montserrat-alternates-v12-latin_cyrillic-700.svg#MontserratAlternates') format('svg');
//     /* Legacy iOS */
// }

// /* montserrat-alternates-800 - latin_cyrillic */
// @font-face {
//     font-family: 'Urbanist';
//     font-style: normal;
//     font-weight: 800;
//     src: url('../fonts/montserrat-alternates-v12-latin_cyrillic-800.eot');
//     /* IE9 Compat Modes */
//     src: local(''),
//         url('../fonts/montserrat-alternates-v12-latin_cyrillic-800.eot?#iefix') format('embedded-opentype'),
//         /* IE6-IE8 */
//         url('../fonts/montserrat-alternates-v12-latin_cyrillic-800.woff2') format('woff2'),
//         /* Super Modern Browsers */
//         url('../fonts/montserrat-alternates-v12-latin_cyrillic-800.woff') format('woff'),
//         /* Modern Browsers */
//         url('../fonts/montserrat-alternates-v12-latin_cyrillic-800.ttf') format('truetype'),
//         /* Safari, Android, iOS */
//         url('../fonts/montserrat-alternates-v12-latin_cyrillic-800.svg#MontserratAlternates') format('svg');
//     /* Legacy iOS */
// }