@charset "UTF-8";
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/Urbanist-Light.ttf");
}

@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Urbanist-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Urbanist-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Urbanist-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Urbanist-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Manrope/Manrope-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Manrope/Manrope-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/Manrope/Manrope-ExtraBold.ttf") format("truetype");
}

body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

main {
  margin: 0 auto;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

img {
  width: 100%;
}

a {
  margin: 0;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  list-style-type: none;
  padding: 0;
}

p {
  margin: 0;
}

button {
  outline: none;
  border: none;
}

button:focus {
  outline: none;
  border: none;
}

button:hover {
  outline: none;
  border: none;
}

button:active {
  outline: none;
  border: none;
}

body {
  background-color: black;
  position: relative;
  overflow: inherit;
  font-family: "Manrope", sans-serif;
}

body.active {
  overflow: hidden;
}

h1 {
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  font-size: 5.1vw;
  line-height: 1.2;
}

h2 {
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  font-size: 3.1vw;
  line-height: 1.3;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

input {
  border: none;
  outline: none;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

a {
  cursor: pointer;
  scroll-behavior: smooth;
}

.container {
  display: block;
  width: calc(100% - 135px);
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.text-bold {
  font-weight: bold;
}

.hidden {
  display: none;
}

.active {
  display: block !important;
}

.subtext {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 150%;
  color: #E5DCD7;
}

.text-second {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
}

.soft-skills {
  width: 100%;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 1rem;
  /* identical to box height, or 160% */
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #3D3D3D;
  border-radius: 24px;
  padding: 3px 0;
}

.hard-skills {
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 1rem;
  color: #000000;
  background: #FFAE1B;
  border-radius: 24px;
  text-transform: uppercase;
  padding: 3px 0;
}

.service-header__canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 1;
}

@media (max-width: 767px) {
  .container {
    width: calc(100% - 30px);
  }
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 1.5rem;
}

.menu__link {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.5rem;
  color: #ffffff;
  margin-right: 2.75rem;
  font-family: "Manrope", sans-serif;
  text-transform: uppercase;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.menu__link:last-child {
  margin-right: 0;
}

.menu__link:hover {
  color: #FFAE1B;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

@media (max-width: 767px) {
  .menu__link {
    margin-right: 2.125rem;
  }
}

@media (max-width: 579px) {
  .menu__link {
    margin-right: 1.5rem;
  }
}

@media (max-width: 479px) {
  .menu__link {
    margin-right: 0.875rem;
  }
}

@media (max-width: 379px) {
  .menu__link {
    font-size: 10px;
  }
}

.intro {
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18vh 0 0 0;
}

.intro__img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  position: relative;
  z-index: 4;
}

.intro__img--cto {
  max-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #FFFFFF;
  border-radius: 8px;
  position: relative;
  z-index: 4;
  margin-bottom: 4vh;
}

.intro__img--cto:before {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  left: 50%;
  bottom: -5px;
  -webkit-transform: rotate(45deg) translate(-42%, 48%);
          transform: rotate(45deg) translate(-42%, 48%);
  background: #FFFFFF;
}

.intro__img--cto span {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  text-align: center;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  color: #000000;
}

.intro__img--mac {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 32vh;
  margin-bottom: -5px;
  position: relative;
  z-index: 4;
}

.intro__img--mac img {
  height: 32vh;
}

.intro__title {
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  font-size: 15vh;
  line-height: 100%;
  text-align: center;
  color: #FFAE1B;
  position: relative;
  z-index: 4;
}

.intro__subtitle {
  max-width: 28.4375rem;
  margin: 0 auto;
  padding: 2.1875rem 0 2.75rem 0;
  text-align: center;
  color: #ffffff;
  position: relative;
  z-index: 4;
}

.intro__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1199px) {
  .intro__title {
    font-size: 5.625rem;
  }
}

@media (max-width: 991px) {
  .intro {
    height: auto;
  }
  .intro__title {
    font-size: 3.75rem;
  }
}

.skill-ribbon {
  position: relative;
  z-index: 9;
  height: 40px;
  background-color: #FFAE1B;
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.skill-ribbon--second {
  background-color: #000000;
}

.skill-ribbon--second .skill-ribbon__item {
  color: #FFAE1B;
}

.skill-ribbon__inner {
  display: inline-block;
  -webkit-animation: scroll 25s infinite linear;
          animation: scroll 25s infinite linear;
}

.skill-ribbon__item {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  font-family: "Urbanist", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 100%;
  /* identical to box height, or 20px */
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #000000;
  padding: 10px 0;
}

.skill-ribbon__item span {
  margin-left: 2.5rem;
  padding-right: 2.5rem;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}

@media (max-width: 767px) {
  .skill-ribbon {
    height: 30px;
  }
  .skill-ribbon__item {
    font-size: 12px;
  }
  .skill-ribbon__item span {
    margin-left: 1.25rem;
  }
}

.skills__inner {
  padding: 5.9375rem 0 12.5rem 0;
}

.skills__title {
  position: relative;
  z-index: 4;
  font-family: "Urbanist", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 150%;
  /* identical to box height, or 120px */
  text-align: center;
  color: #FFAE1B;
  padding-bottom: 5rem;
}

.skills__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  gap: 2.5rem;
      grid-template-areas: ". . . ." ". . . ." ". . . .";
}

.skills-card {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  z-index: 4;
  border: 1px solid #2E2E2E;
  border-radius: 24px;
}

.skills-card:nth-child(1) {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.skills-card:nth-child(2) {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin-bottom: -70px;
}

.skills-card:nth-child(3) {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.skills-card:nth-child(4) {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin-bottom: -34px;
}

.skills-card:nth-child(5) {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.skills-card:nth-child(6) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: -43px;
}

.skills-card:nth-child(7) {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.skills-card:nth-child(8) {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: -12px;
}

.skills-card:nth-child(9) {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin-top: -87px;
}

.skills-card:nth-child(10) {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin-top: -30px;
}

.skills-card:nth-child(11) {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.skills-card:nth-child(12) {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin-top: -20px;
}

.skills-card:nth-child(13) {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.skills-card__inner {
  padding: 32px 24px 24px;
}

.skills-card__uptitle {
  width: 94px;
  background: #3D3D3D;
  border-radius: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -42px;
  margin-left: -10px;
  margin-bottom: 1.1875rem;
}

.skills-card__title {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  color: #E5DCD7;
  padding-bottom: 1rem;
}

.skills-card__text {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #E5DCD7;
  opacity: 0.6;
}

@media (max-width: 1199px) {
  .skills__items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
    gap: 2.5rem;
        grid-template-areas: ". . . " ". . . " ". . . ";
  }
  .skills__items .skills-card {
    margin: 0 0 0 0;
  }
}

@media (max-width: 991px) {
  .skills__items {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
    gap: 2.5rem;
        grid-template-areas: ". .  " ". .  " ". .  ";
  }
  .skills__inner {
    padding: 7.5rem 0 5.625rem 0;
  }
}

@media (max-width: 767px) {
  .skills__inner {
    padding: 4.375rem 0 3.75rem 0;
  }
}

@media (max-width: 579px) {
  .skills__items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
    gap: 3.125rem;
        grid-template-areas: ".   " ".   " ".  ";
  }
}

.contacts {
  height: 100vh;
  position: relative;
  z-index: 4;
  overflow: hidden;
  background-color: #FFAE1B;
}

.contacts__inner {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 7vh 0 0 0;
}

.contacts__subtitle {
  max-width: 35rem;
  margin: 0 auto;
  padding: 2.1875rem 0 3.75rem 0;
  text-align: center;
  color: #000000;
}

.contacts__title {
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  font-size: 15vh;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 6.8125rem;
}

.contacts__title a {
  color: #ffffff;
  -webkit-transition: 1s;
  transition: 1s;
}

.contacts__title a:hover {
  color: black;
  -webkit-transition: 1s;
  transition: 1s;
}

.contacts__img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.contacts__img--mac {
  height: 32vh;
  margin-bottom: -5px;
}

.contacts__img--mac img {
  height: 32vh;
}

.contacts__img--telegr {
  max-height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #000000;
  border-radius: 8px;
  position: relative;
  z-index: 4;
  margin-bottom: 1vh;
}

.contacts__img--telegr:before {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  left: 50%;
  bottom: -5px;
  -webkit-transform: rotate(45deg) translate(-42%, 48%);
          transform: rotate(45deg) translate(-42%, 48%);
  background: #000000;
}

.contacts__img--telegr span {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  text-align: center;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  color: #ffffff;
}

@media (max-width: 1199px) {
  .contacts__title {
    font-size: 5.625rem;
  }
}

@media (max-width: 991px) {
  .contacts__title {
    font-size: 3.75rem;
  }
}

@media (max-width: 767px) {
  .contacts__inner {
    padding: 0;
  }
}

@media (max-width: 579px) {
  .contacts__title {
    font-size: 2.5rem;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 30px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  pointer-events: none;
  opacity: 0;
  z-index: 999;
  -webkit-transform: translate(0, 3000px);
          transform: translate(0, 3000px);
  -webkit-transition: opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946), -webkit-transform 1.4s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  transition: opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946), -webkit-transform 1.4s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  transition: transform 1.4s cubic-bezier(0.465, 0.183, 0.153, 0.946), opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  transition: transform 1.4s cubic-bezier(0.465, 0.183, 0.153, 0.946), opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946), -webkit-transform 1.4s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

::-webkit-scrollbar {
  /* chrome based */
  width: 0px;
  /* ширина scrollbar'a */
  background: transparent;
  /* опционально */
}

.modal--open {
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: translate(0, 0px);
          transform: translate(0, 0px);
  -webkit-transition: opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946), -webkit-transform 1.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  transition: opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946), -webkit-transform 1.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  transition: transform 1.1s cubic-bezier(0.465, 0.183, 0.153, 0.946), opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  transition: transform 1.1s cubic-bezier(0.465, 0.183, 0.153, 0.946), opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946), -webkit-transform 1.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.modal-wrapper {
  position: relative;
  background-color: #1E1E1E;
  padding: 0.875rem 1.875rem 0 1.875rem;
  max-width: 90vw;
  width: 93%;
  max-height: 91vh;
  border-radius: 20px;
  text-align: center;
  overflow: auto;
  -ms-overflow-style: none;
  /* IE 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.modal.modal-Alibaba .modal__logo {
  top: -20px;
}

.modal.modal-Alibaba .modal__logo svg {
  scale: 0.5;
  min-width: 190px;
  height: 119px;
  fill: #FB6322;
  -webkit-transition: 1s;
  transition: 1s;
}

.modal.modal-knowledge .modal__logo img {
  width: 120px;
}

.modal.modal-x5 .modal__logo svg {
  scale: 0.9;
  min-width: 280px;
  fill: #F78F1E;
  -webkit-transition: 1s;
  transition: 1s;
}

.modal.modal-uralsib .modal__logo svg {
  scale: 0.7;
  min-width: 244px;
  fill: #F78F1E;
  -webkit-transition: 1s;
  transition: 1s;
}

.modal.modal-wo .modal__logo img {
  width: 80px;
}

.modal.modal-likeСenter .modal__logo {
  top: -20px;
}

.modal.modal-likeСenter .modal__logo svg {
  scale: 0.5;
  min-width: 164px;
  height: 136px;
  fill: #F78F1E;
  -webkit-transition: 1s;
  transition: 1s;
}

.modal.modal-thirty-six .modal__logo {
  top: -30px;
}

.modal.modal-thirty-six .modal__logo svg {
  min-width: 180px;
  scale: 0.4;
  height: 148px;
  fill: #4374AE;
  -webkit-transition: 1s;
  transition: 1s;
}

.modal.modal-vanguard .modal__logo {
  scale: 0.25;
}

.modal.modal-vanguard .modal__logo svg {
  min-width: 185px;
  height: 194px;
  fill: #C3322B;
  -webkit-transition: 1s;
  transition: 1s;
}

.modal.modal-Gravion .modal__logo {
  scale: 0.30;
}

.modal.modal-Gravion .modal__logo svg {
  min-width: 185px;
  height: 194px;
  fill: #4F5F79;
  -webkit-transition: 1s;
  transition: 1s;
}

.modal.modal-Gorzdrav .modal__logo svg {
  min-width: 185px;
  height: 194px;
  fill: #2CA180;
  -webkit-transition: 1s;
  transition: 1s;
}

.modal__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2.5rem;
}

.modal__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 0.5rem;
}

.modal__logo {
  position: absolute;
  left: 50%;
  top: 1.25rem;
  -webkit-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
}

.modal__logo svg {
  width: 5.3125rem;
  height: 5.625rem;
}

.modal-site__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: "Urbanist", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #FFFFFF;
}

.modal-item {
  padding: 0 0.5rem;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 100px;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  /* identical to box height, or 200% */
  letter-spacing: 0.02em;
  text-transform: uppercase;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  color: #FFFFFF;
  margin-right: 4px;
}

.modal-month {
  padding: 0 0.5rem;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 100px;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  /* identical to box height, or 200% */
  letter-spacing: 0.02em;
  text-transform: uppercase;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  color: #FFFFFF;
  margin-right: 4px;
}

.btn--close-modal {
  position: absolute;
  right: 2rem;
  top: 1.875rem;
  background-color: transparent;
}

.btn--close-modal img {
  pointer-events: none;
}

.modal-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-intro__text {
  width: 40%;
  padding-right: 2.5rem;
  padding-left: 3.125rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal-intro__title {
  text-align: left;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 120% */
  color: #808080;
  padding: 3.5rem 0 1rem 0;
}

.modal-intro__title:first-child {
  padding-top: 0;
}

.modal-intro__list {
  list-style-type: inherit;
}

.modal-intro__li {
  text-align: left;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  list-style-type: disc;
  /* or 157% */
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  color: #FFFFFF;
}

.modal-intro__img {
  margin-right: -30px;
  border-radius: 2.5rem 0 0 2.5rem;
}

.modal-intro__img img {
  border-radius: 1.875rem 0 0 1.875rem;
}

.modal-rezult {
  margin: 7.5rem 3.125rem 0 3.125rem;
}

.modal-rezult__title {
  margin-bottom: 32px;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;
}

.modal-rezult__list {
  padding-top: 3rem;
}

.modal-rezult__li {
  list-style-type: disc;
  padding-bottom: 2.5625rem;
  color: #FFFFFF;
}

.modal-rezult__li h2 {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  /* identical to box height, or 129% */
  color: #FFFFFF;
  text-align: left;
}

.modal-rezult__li p {
  text-align: left;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #858585;
}

.modal-contact__link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Urbanist", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 120px;
  line-height: 100%;
  /* identical to box height, or 120px */
  text-align: center;
  color: #FFFFFF;
  padding: 4.375rem 0 10.625rem 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal.modal--open .modal__logo {
  width: 30%;
  height: 60px;
  top: 10px;
  scale: 1;
}

.modal.modal--open .modal__logo svg {
  scale: 1;
  min-width: 100%;
  height: 100%;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (max-width: 1299px) {
  .modal-contact__link a {
    font-size: 70px;
  }
}

@media (max-width: 991px) {
  .modal-intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .modal-intro__text {
    width: 100%;
    margin-bottom: 30px;
  }
  .modal-intro__img img {
    border-radius: 60px 0 0 60px;
  }
}

@media (max-width: 767px) {
  .modal-contact__link a {
    font-size: 50px;
    padding-bottom: 80px;
  }
  .modal-intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .modal-intro__text {
    width: 100%;
    margin-bottom: 30px;
  }
  .modal-intro__img img {
    border-radius: 60px 0 0 60px;
  }
  .modal-rezult {
    margin: 5.625rem 1.875rem 0 1.875rem;
  }
  .modal-rezult__title {
    font-size: 32px;
  }
  .modal-rezult__li h2 {
    font-size: 24px;
  }
  .modal-rezult__li {
    padding-bottom: 25px;
  }
  .modal__items {
    display: none;
  }
  .modal.modal--open .modal__logo {
    height: 40px;
  }
  .modal.modal--open {
    padding: 0;
  }
}

@media (max-width: 479px) {
  .modal-intro__text {
    padding: 0;
  }
  .btn--close-modal {
    width: 30px;
    height: 30px;
    right: 20px;
    top: 20px;
  }
  .modal__logo {
    display: none;
  }
  .modal-rezult {
    margin: 30px 0 0 0;
  }
  .modal-contact__link a {
    font-size: 40px;
    padding-bottom: 60px;
    padding-top: 40px;
  }
}

.works {
  overflow: hidden;
}

.works__inner {
  padding-top: 200px;
  padding-bottom: 100px;
}

.works__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 2.5rem;
      grid-template-areas: ". . ." ". . ." ". . ." ". . .";
}

.works-card {
  overflow: hidden;
  position: relative;
  background-color: #1a1a1a;
  border-radius: 1.5rem;
  max-height: 16.5625rem;
  z-index: 1;
  outline: 0px solid;
  scale: 1;
  cursor: pointer;
}

.works-card.works-card--Alibaba .works-card__logo svg {
  width: 180px;
}

.works-card.works-card--Alibaba:hover {
  outline: 1900px solid #FB6322;
}

.works-card.works-card--Alibaba:hover .works-card__logo svg {
  min-width: 180px;
  fill: #FB6322;
  -webkit-transition: 1s;
  transition: 1s;
}

.works-card.works-card--Alibaba.active {
  outline: 1900px solid #FB6322;
}

.works-card.works-card--knowledge .works-card__logo img {
  width: 220px;
}

.works-card.works-card--knowledge:hover {
  outline: 1900px solid #5289EB;
}

.works-card.works-card--knowledge.active {
  outline: 1900px solid #5289EB;
}

.works-card.works-card--x5 .works-card__logo svg {
  width: 285px;
  height: 50px;
}

.works-card.works-card--x5:hover {
  outline: 1900px solid #F78F1E;
}

.works-card.works-card--x5:hover .works-card__logo {
  max-width: 110px;
}

.works-card.works-card--x5:hover .works-card__logo svg {
  min-width: 280px;
  fill: #F78F1E;
  -webkit-transition: 1s;
  transition: 1s;
}

.works-card.works-card--x5.active {
  outline: 1900px solid #F78F1E;
}

.works-card.works-card--uralsib .works-card__logo svg {
  width: 254px;
  height: 50px;
}

.works-card.works-card--uralsib:hover {
  outline: 1900px solid #FBD81C;
}

.works-card.works-card--uralsib:hover .works-card__logo svg {
  min-width: 245px;
  fill: #F78F1E;
  -webkit-transition: 1s;
  transition: 1s;
}

.works-card.works-card--uralsib.active {
  outline: 1900px solid #FBD81C;
}

.works-card.works-card--wo .works-card__logo svg {
  width: 175px;
}

.works-card.works-card--wo:hover {
  outline: 1900px solid #FFB1B1;
}

.works-card.works-card--wo.active {
  outline: 1900px solid #FFB1B1;
}

.works-card.works-card--pyaterochka .works-card__logo svg {
  width: 220px;
}

.works-card.works-card--pyaterochka:hover {
  outline: 1900px solid #F78F1E;
}

.works-card.works-card--pyaterochka.active {
  outline: 1900px solid #F78F1E;
}

.works-card.works-card--likeСenter .works-card__logo svg {
  width: 155px;
  height: 145px;
}

.works-card.works-card--likeСenter:hover {
  outline: 1900px solid #F78F1E;
}

.works-card.works-card--likeСenter:hover .works-card__logo {
  scale: 0.35;
}

.works-card.works-card--likeСenter:hover .works-card__logo svg {
  min-width: 180px;
  fill: #F78F1E;
  -webkit-transition: 1s;
  transition: 1s;
}

.works-card.works-card--likeСenter.active {
  outline: 1900px solid #F78F1E;
}

.works-card.works-card--thirty-six .works-card__logo svg {
  width: 157px;
  height: 153px;
}

.works-card.works-card--thirty-six:hover {
  outline: 1900px solid #4374AE;
}

.works-card.works-card--thirty-six:hover .works-card__logo {
  scale: 0.35;
}

.works-card.works-card--thirty-six:hover .works-card__logo svg {
  min-width: 180px;
  fill: #4374AE;
  -webkit-transition: 1s;
  transition: 1s;
}

.works-card.works-card--thirty-six.active {
  outline: 1900px solid #4374AE;
}

.works-card.works-card--vanguard .works-card__logo svg {
  width: 191px;
  height: 225px;
}

.works-card.works-card--vanguard:hover {
  outline: 1900px solid #E94D05;
}

.works-card.works-card--vanguard:hover .works-card__logo {
  scale: 0.25;
}

.works-card.works-card--vanguard:hover .works-card__logo svg {
  min-width: 185px;
  height: 194px;
  fill: #C3322B;
  -webkit-transition: 1s;
  transition: 1s;
}

.works-card.works-card--vanguard.active {
  outline: 1900px solid #E94D05;
}

.works-card.works-card--Gravion .works-card__logo svg {
  width: 165px;
  height: 128px;
}

.works-card.works-card--Gravion:hover {
  outline: 1900px solid #4F5F79;
}

.works-card.works-card--Gravion:hover .works-card__logo {
  scale: 0.30;
  height: 60px;
}

.works-card.works-card--Gravion:hover .works-card__logo svg {
  min-width: 185px;
  height: 194px;
  fill: #4F5F79;
  -webkit-transition: 1s;
  transition: 1s;
}

.works-card.works-card--Gravion.active {
  outline: 1900px solid #4F5F79;
}

.works-card.works-card--Gorzdrav .works-card__logo svg {
  width: 133px;
  height: 129px;
  fill: transparent;
}

.works-card.works-card--Gorzdrav:hover {
  outline: 1900px solid #E94D05;
}

.works-card.works-card--Gorzdrav:hover .works-card__logo svg {
  min-width: 185px;
  height: 141px;
  fill: #2CA180;
  -webkit-transition: 1s;
  transition: 1s;
}

.works-card.works-card--Gorzdrav.active {
  outline: 1900px solid #E94D05;
}

.works-card.works-card--Beauty-Maker .works-card__logo svg {
  width: 283px;
}

.works-card.works-card--Beauty-Maker:hover {
  outline: 1900px solid #4374AE;
}

.works-card.works-card--Beauty-Maker.active {
  outline: 1900px solid #4374AE;
}

.works-card:hover {
  z-index: 2;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  scale: 1.1;
  mix-blend-mode: plus-lighter;
}

.works-card:hover .works-card__inner {
  padding: 13px 24px 24px 24px;
}

.works-card:hover .works-card__logo {
  scale: 0.4;
  -webkit-transition: 1s;
  transition: 1s;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100px;
}

.works-card:hover .works-card__header {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40px;
}

.works-card:hover .works-card__items {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  visibility: visible;
  -webkit-transition: 1s;
  transition: 1s;
}

.works-card:hover .works-card__text {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  visibility: visible;
}

.works-card:hover::before {
  content: "";
  width: 100%;
  height: 30px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 25, 25, 0.7)), to(#191919));
  background-image: linear-gradient(180deg, rgba(25, 25, 25, 0.7) 0%, #191919 100%);
  z-index: 1;
}

.works-card:hover .works-card__open {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.works-card__open {
  position: absolute;
  left: 50%;
  bottom: 10px;
  -webkit-transform: translate(-50%, 150%);
          transform: translate(-50%, 150%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 5;
}

.works-card__inner {
  height: 100%;
  pointer-events: none;
  padding: 2.5rem;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.works-card__header {
  height: 100%;
  margin-bottom: 0.5rem;
}

.works-card__img {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.works-card__img img {
  width: 100%;
}

.works-card__logo {
  scale: 1;
  -webkit-transition: 1s;
  transition: 1s;
  max-width: 100%;
}

.works-card__logo svg {
  fill: #ffffff;
  -webkit-transition: 1s;
  transition: 1s;
}

.works-card__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  visibility: hidden;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

.works-card__text {
  visibility: hidden;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  color: #E5DCD7;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: 1s;
  transition: 1s;
}

.works-card p {
  opacity: 0.6;
  margin-bottom: 1rem;
}

.works-card__subtitle {
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 150%;
  /* identical to box height, or 21px */
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  color: #E5DCD7;
  margin-bottom: 0.5rem;
}

.works-card-item {
  height: 25px;
  padding: 0 10px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 100px;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  /* identical to box height, or 200% */
  letter-spacing: 0.02em;
  text-transform: uppercase;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  color: #FFFFFF;
  margin-right: 4px;
}

.works-card-data {
  height: 25px;
  padding: 0 10px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 100px;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  /* identical to box height, or 200% */
  letter-spacing: 0.02em;
  text-transform: uppercase;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
          font-feature-settings: "pnum" on, "lnum" on;
  white-space: nowrap;
  color: #FFFFFF;
  margin-right: 4px;
}

.works-card-test {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 44;
}

@media (max-width: 1399px) {
  .works-card__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-width: 210px;
  }
  .works-card-item {
    margin-bottom: 5px;
  }
}

@media (max-width: 1199px) {
  .works-card__items {
    min-width: 150px;
  }
  .works-card:hover .works-card__inner {
    padding: 14px;
  }
  .works-card-item {
    padding: 0 5px;
    font-size: 9px;
  }
  .works-card-data {
    padding: 0 5px;
    font-size: 9px;
  }
}

@media (max-width: 991px) {
  .works-card__items {
    min-width: 150px;
  }
  .works__items {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2.5rem;
        grid-template-areas: ". . " ". ." ". . " ". . ";
  }
  .works__inner {
    padding-top: 120px;
    padding-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .works__items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2.5rem;
        grid-template-areas: ". " ". " ". " ". ";
  }
  .works__inner {
    padding-top: 70px;
    padding-bottom: 40px;
  }
}
/*# sourceMappingURL=main.css.map */